{% extends "base.html" %}
{% block title %}Spaceships{% endblock %}
{% block content %}
<div class="container">

    <!-- View all keypresses -->
    <div id="keyAll" class="table-responsive">
        <h2>View all key events</h2>
        <div class="alert alert-success" id="keyall-success" style="visibility: hidden"></div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>datetime</th>
                    <th>isKeyDown</th>
                    <th>windowName</th>
                    <th>processedKey</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- View keydown events -->
    <div id="keyDown">
        <h2>View all key down</h2>
        <div class="alert alert-success" id="keyall-success" style="visibility: hidden"></div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>datetime</th>
                    <th>windowName</th>
                    <th>processedKey</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

<!-- 

    <div id="words" class="table-responsive">
        <h2>View words typed</h2>
        <div class="alert alert-success" id="view-words-success" style="visibility: hidden"></div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>City</th>
                    <th>Name</th>
                    <th>Planet name</th>
                    <th>Current capacity</th>
                    <th>Maximum capacity</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


    <div id="email">
        <h2>View possible emails</h2>
        <div class="alert alert-success" id="view-words-success" style="visibility: hidden"></div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>City</th>
                    <th>Name</th>
                    <th>Planet name</th>
                    <th>Current capacity</th>
                    <th>Maximum capacity</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div id="password">
        <h2>View possible passwords</h2>
        <div class="alert alert-success" id="view-words-success" style="visibility: hidden"></div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>City</th>
                    <th>Name</th>
                    <th>Planet name</th>
                    <th>Current capacity</th>
                    <th>Maximum capacity</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div> 
-->

</div>
{% endblock %}